.nav {
    display:flex;
    align-items: center;

    .searchContainer {
        position: relative;
        width: 100%;
        .searchBar {
            width: 590px;
            height: 45px;
            border: none;
            border-radius: 3px;
            padding-left: 10px;
            margin-right: 150px;
            margin-left: 100px;
        }
        .searchButton {
            position: absolute;
            top: 30%;
            right: 160px;
            background-color: transparent;
            border: none;
            .iconSearch {
                width: 17px;
                height: 17px;
                cursor: pointer;
                /*pointer-events: none;  /* Empêche l'icône d'interférer avec les clics dans l'input */
            }
        }
    }
    .buttonsWrap {
        display: flex;
        gap: 35px;
        
        .iconLog {
            cursor: pointer;
        }
        .iconBasket {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1440px) {
    .nav {
        .searchContainer {
            .searchBar {
                width: 520px;
                padding-left: 10px;
                /*margin-right: 45px;
                margin-left: 45px;*/
                padding-left: 10px;
                margin-right: 120px;
                margin-left: 90px;
            }
            .searchButton {
                right: 140px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .nav {
        .searchContainer {
            .searchBar {
                width: 450px;
                height: 40px;
                margin-right: 70px;
                margin-left: 40px;
            }
            .searchButton {
                right: 100px;
            }
        }
        .buttonsWrap {
            display: flex;
            gap: 20px;
        }
    }
}
@media screen and (max-width: 780px) {
    .nav {
        //flex-direction: column;
        .searchContainer {
            .searchBar {
                width: 320px;
                margin-right: 70px;
                margin-left: 60px;
            }
            .searchButton {
                right: 80px;
            }
        }
        .buttonsWrap {
            display: flex;
            gap: 15px;
        }
    }
}
@media screen and (max-width: 650px) {
    .nav {
        //flex-direction: column;
        .searchContainer {
            //margin-bottom: 20px;
            .searchBar {
                width: 200px;
                //margin: 0;
                margin-right: 50px;
                margin-left: 40px;
            }
            .searchButton {
                right: 65px;
                .iconSearch {
                    width: 17px;
                    height: 17px;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .nav {
        .searchContainer {
            .searchBar {
                width: 70%;
                //margin: 0;
                margin-right: 40px;
                margin-left: 30px;
            }
            .searchButton {
                right: 15%;
                .iconSearch {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .nav {
        .searchContainer {
            .searchBar {
                width: 80%;
                //margin: 0;
                margin-right: 10px;
                margin-left: 10px;
            }
            .searchButton {
                right: 10%;
                .iconSearch {
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }
}