.container-thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    .title-thumbnails {
        color: white;
        background-color: rgba(84, 47, 21, 0.43);
        padding: 10px 0px;
        width: 200px;
        border-radius: 10px;
        text-align: center;
        //border-top-right-radius: 10px;
        //border-top-left-radius: 10px;
        //border-bottom-right-radius: 50px;
        margin-bottom: 30px;
    }
    .thumbnails {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        gap: 22px;
        margin-bottom: 30px;
        .thumbnail, .thumbnail-image, .thumbnail-details {
            width: 230px;
            height: 230px;
            background-color: #cec9c9;
        }
        
        .thumbnail {
            position: relative;
            overflow: hidden;
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.19), 0 7px 6px rgba(0, 0, 0, 0.25);

            .thumbnail-details {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                //padding-top: 10px;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .thumbnail-title {
                    color: white;
                    text-decoration: none;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    font-size: 17px;
                }
                .thumbnail-title:hover {
                    text-decoration: underline;
                }
                .thumbnail-text {
                    padding-top: 2px;
                    padding-bottom: 2px;
                    margin: 0;
                }
            }
        }
        
        .thumbnail:hover .thumbnail-details {
            opacity: 1;
        }
        
    }
    .ArrowNext {
        display: flex;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1440px) {
    .container-thumbnails {
        .thumbnails {
            gap: 32px;
            .thumbnail, .thumbnail-image, .thumbnail-details  {
                width: 210px;
                height: 210px;
            }
        }
    }
}
@media screen and (max-width: 1182px) {
    .container-thumbnails {
        .thumbnails {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            .thumbnail, .thumbnail-image, .thumbnail-details  {
                width: 330px;
                height: 330px;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .container-thumbnails {
        .thumbnails {
            //display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            .thumbnail, .thumbnail-image, .thumbnail-details  {
                width: 370px;
                height: 370px;
            }
            .thumbnail {
                .thumbnail-details {
                    font-size: 13px;
                    .thumbnail-title {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .container-thumbnails {
        .title-thumbnails {
            padding: 10px 25px;
        }
        .thumbnails {
            //display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
            .thumbnail, .thumbnail-image, .thumbnail-details  {
                width: 330px;
                height: 330px;
            }
            .thumbnail {
                .thumbnail-details {
                    font-size: 16px;
                    .thumbnail-title {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}