header {
    display: flex;
    align-items: center;
    justify-content: center;
    //justify-content: space-evenly;
    background-color: rgba(84,47,21,0.43);
    padding: 10px;

    /*a, img {
      margin-right: 20px;
    }*/
    
}
/*@media screen and (max-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}*/
@media screen and (max-width: 768px) {
  header {
    display: flex;
    //flex-direction: column;
  }
}